$color-primary: #28a956;
body {
	background-color: #e9ecef;
}
.titulo {
	font-weight: 500;
	color: #fff;
	margin-bottom: 0;
	font-size: 30px;
}

.quantidade-questoes {
	font-weight: 300;
	color: #88cfa2;
}

.minutos-restantes {
	color: #fff;
	font-size: 13px;
	font-weight: 300;
}

.minutos {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

.label-progress {
	display: none;
}

.container-simulado {
	margin-bottom: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 20px 25px;
	text-align: center;
	color: #808080;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-alternativa {
	border: solid 1px $color-primary;
	margin-bottom: 10px;
	padding: 15px 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #808080;
}

.identificador-pergunta {
	color: #b8b8b8;
	font-weight: bold;
	font-size: 0.9em;
}

.arrow-button {
	background-color: $color-primary;
}
